@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

body {
  font-family: Roboto;
  margin: 0;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

#header {
  background-color: #f8765e;
  color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 83.4%;
  max-width: 1200px;
  border: 1px solid blue;
}
 
#logo {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.23;
  letter-spacing: normal;
  display: flex;
  align-items: center;
}

#header li {
  list-style: none;
  display: inline;
  margin-left: 3%;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
}

#header ul {
  width: 75%;
  text-align: right;
}

#hero-content {
  display: flex;
  margin-top: 140px;
  margin-left: 8.7%;
}

@media (max-width: 473px) {

  nav {
    flex-direction: column;
    justify-content: center;
  }

  #logo {
    justify-content: center;
  }
}